<ionic-content scroll="false">
    <h1 class="pageHeader" >{{drink.Juice.Name}}</h1>
    <div class="pageBody" ng-if="loggedIn">
        <button class="button button-calm" ng-click="addToDash()">Add to dash</button>
        <button class="button button-calm" ng-click="cancel()">Cancel</button>
    </div>
    <div class="pageBody" ng-if="loggedIn == false">
        <button class="button button-calm" ng-click="login()">Login</button>
        <button class="button button-calm">Register</button>
    </div>
</ionic-content>