<ion-content scroll="false">
    <h1 class="title">LOGIN</h1>

    <div>
        <input type="text" id="email" placeholder="EMAIL" ng-model="email" required>
        <input type="password" id="password" placeholder="PASSWORD" ng-model="password" required>
        <label for="rememberPassword">Remember password?</label>
        <input type="checkbox" name="rememberPassword" id="rememberPassword">
        <button type="submit" ng-click="login()">OK</button>
        <button>Register</button>
        <button>forgot your password?</button>
    </div>
</ion-content>
