<ion-content scroll="true">
    <h1 style="padding:10% 0 10% 0; height: 30%; margin: 0;" class="title">LOGIN</h1>
    <div style="height: 70%">
        <input type="text" id="email" placeholder="EMAIL" ng-model="email">
        <input type="password" id="password" placeholder="PASSWORD" ng-model="password" required>
        <!--label for="rememberPassword">Remember password?</label>
        <input type="checkbox" name="rememberPassword" id="rememberPassword"-->
        <button ng-click="login()" class="button button-calm">OK</button>
        <button class="button button-calm">Register</button>
        <!--button class="button button-calm">forgot your password?</button-->
        <button ng-click="scan()" class="button button-calm">Scan without login</button>
    </div>
</ion-content>
