body, ion-side-menu-content {
    background-image: url(../img/background_chalkboard_smartphone.png);
    background-repeat: repeat-y;
    background-size: cover;
}

.menu-left {
    background-image: url(../img/background_wood_smartphone_horizontal.png);
    background-size: cover;
}

.item {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-color: gray;
}

#menu {
    height: 80%;
    width: 100%;
    text-align: center;
}

.menu-icon {
    border: none;
    box-sizing: border-box;
    -webkit-column-span: 6;
    -moz-column-span: 6;
    column-span: 6;
    background-repeat: no-repeat;
    display: inline-block;
    height: 33%;
    /* ergens gebeurt er iets waardoor ik geen 50% kan gebruiken */
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}

.menu-icon:active {
    background-color: skyblue;
}

.menu-icon > i{
    text-align: center;
    box-sizing: content-box;
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    color: white;
}

#icon-drinks > i{
    -webkit-transform: translateY(-50%) scale(1.5, 1.5) rotate(-20deg);
    transform: translateY(-50%) scale(1.5, 1.5) rotate(-20deg);
}

#icon-shopping-cart > i{
    -webkit-transform: translateY(-50%) scale(1.5, 1.5) rotate(20deg);
    transform: translateY(-50%) scale(1.5, 1.5) rotate(20deg);
}

#icon-stats > i{
    -webkit-transform: translateY(-50%) scale(1.5, 1.5) rotate(20deg);
    transform: translateY(-50%) scale(1.5, 1.5) rotate(20deg);
}

#icon-qr-code > i{
    -webkit-transform: translateY(-50%) scale(1.5, 1.5) rotate(-20deg);
    transform: translateY(-50%) scale(1.5, 1.5) rotate(-20deg);
}

div {
    width: 100%;
    height: 100%;
}

p {
    font-size: 2em;
    line-height: 2em;
    height: 11%;
    position: relative;
    top: 11%;
    bottom: 11%;
    margin: 0;
}

img {
    width: 60%;
    margin: 20%;
}

.button-calm {
    width: 90%;
    margin: 2.5% 5% 0 5%;
    font-size: 2em;
}

input {
    width: 90%;
    margin: 2.5% 5% 0 5%;
    border: solid 2px black;
}

h1 {
    text-align: center;
}

.pageHeader {
    margin: 0;
    height: 30%;
    padding:10% 0 10% 0;
    color: white;
}

.pageBody {
    height: 70%;
}

p {
    color: white;
}

.small-button {
    font-size: 1.25em;
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-right: 0;
}

ion-modal > h3 {
    color: white !important;
}

@media .menu-left and (z-index: -1) {
    body {
        background-image: none;
    }
    .menu-content {
        -webkit-transform: translateY(100%) !important;
        transform: translateY(100%) !important;
        
    }
}